<%- model_class = Baby -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>长名字</th>
      <th><%= model_class.human_attribute_name(:avatar) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th>原价</th>
      <th>已售</th>
      <th><%= model_class.human_attribute_name(:star_id) %></th>
      <th><%= model_class.human_attribute_name(:banner) %></th>
      <th><%= model_class.human_attribute_name(:intro) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= link_to baby.id, baby_path(baby) %></td>
        <td><%= baby.name %></td>
        <td><%= baby.longname %></td>
        <td><%= baby.avatar %></td>
        <td><%= baby.price %></td>
        <td><%= baby.originalPrice %></td>
        <td><%= baby.selled %></td>
        <td><%= baby.star_id %></td>
        <td><%= baby.banner %></td>
        <td><%= baby.intro %></td>
        <td><%=l baby.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_baby_path(baby), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      baby_path(baby),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_baby_path,
            :class => 'btn btn-primary' %>
